<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/style.css')}}">
</head>
<body>
    <header>
        <h1>Curiosidade de Perder peso e ganhar massa muscular</h1>
        <p>Tudo aquilo que você sempre quis saber sobre o mundo de fitness em um único lugar </p>
    </header>
    
    <nav>
        <a href="/pagina">Página</a> |
        <a href="/login"> Login in</a> |
        <a href="/calcular"> Calculador</a> |
        <a href="/contact"> Contacto></a> |
        <a href="/index"> Página Inicial></a> |
    </nav>
   

    {% block conteudo %}
    {% endblock %}


    
    <footer class="hidden">

        <p>&copy;2023 Este site for cirado pro Adilson Silva</p>
        <p>Todos os direitos autorais</p>
        
    </footer>

    <script src="{{ url_for('static', filename='script/script.js') }}"></script>
</body>
</html>