{% extends 'base.html' %}

{% block conteudo %}

    <div class="content">
        <h2>I'm using the path HTML for say Hello World for everybody! Good morning!</h2>
        <h3>Hello {{nome}} you know you're the best!! Keep going!</h3>
        <p>
            Nome: {{nome}}</br>
            Apilido: {{dados.Apilido}}</br>
            Idade: {{dados.Idade}}</br>
            Profissão: {{dados.Profissão}}
        </p>
    
        <p>
            aprender Flask
        </p>
    
        <img class = "flask_image" src="{{url_for('static', filename='imagens/flask.png')}}" alt="">
    
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero ratione totam nostrum, facere voluptatum voluptas sit sunt suscipit nemo fugiat, qui perspiciatis deleniti officia magni natus, similique quo laboriosam incidunt. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam nesciunt ab alias, beatae quaerat harum possimus inventore facilis quasi dicta at non, officiis provident culpa assumenda. Officia saepe ipsum dolorum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, dolorum nostrum magni eligendi est soluta qui eius obcaecati amet delectus. Veniam deleniti numquam quos at! Officiis placeat dolores mollitia inventore!</p>
        <p>
            esta comição depende do produto.
        </p>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate voluptates ipsam unde, corporis sequi, sed dignissimos harum doloribus dolor culpa vero impedit iste architecto deserunt dicta in rerum necessitatibus similique.</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa fuga natus dolores perspiciatis atque illum exercitationem ab labore et molestias, repellat, maxime minus. Veniam, sint. Voluptatibus hic sequi quasi adipisci?</li>
        
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi impedit quo optio enim aliquid incidunt harum veniam rem, possimus reprehenderit culpa cupiditate tempora obcaecati vitae architecto? Labore veritatis autem numquam.</p>
    
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum dignissimos ex quasi corrupti sed. Incidunt, consectetur obcaecati quas quam illo ea, porro fuga facilis aut sunt a deserunt enim quo!:
        </p>

        <nav>
            <li>criar perfil para cada utilizador
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit optio dicta cupiditate soluta velit expedita quibusdam temporibus laudantium natus quaerat enim ipsam vitae accusamus repellendus, deserunt dolore veniam reprehenderit aut!</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui autem perferendis incidunt natus? Facilis sunt enim, alias quas rem voluptatibus cum ex adipisci nulla minus fugiat ipsa reiciendis ullam dolor.</li>
            </li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. A nam, sint exercitationem, praesentium magni corrupti quia incidunt tenetur dolores iusto quos officiis voluptatibus neque ex. Molestiae velit voluptatum officiis debitis!</li>
            <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores vero dicta voluptates ipsum. Veritatis, similique, nostrum iste reprehenderit, dolore animi sapiente minus culpa consectetur neque libero aspernatur nam architecto aperiam?</li>
            <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo dolore facere adipisci quos, non officiis similique ducimus! Recusandae veniam repellendus distinctio non quaerat, doloremque iusto doloribus officia dolore, quod aspernatur.</li>
            <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum quae nesciunt ad obcaecati quasi, explicabo quod rem sint, cupiditate laborum repudiandae molestias amet, nulla illum iste est tenetur labore! Aperiam.</li>
        </nav>
        <p>Estou numa fase inicial, em prencipio estou a ter dificuldades em organizar corretamente</p>
        <p>O mais importante é não desistir, eu tenho a certeza que chegarei lá</p>
    </div>

{% endblock  %}