{% extends 'base.html' %}

{% block conteudo %}


<main>
    <article>
        <h1>
            
                5 Tips To Burn Stubborn Belly Fat Over The Holidays...While Still Enjoying All Your Favorite Foods
        </h1>
        

        <p>
            The holiday season is upon us.  From now until the New Year, we have lots of opportunity for celebration with friends and family, probably a few strangers as well. With all the festivities, how do you manage to stick to your diet and avoid putting on extra pounds? Or even better, still lose excess weight?
        </p>

        <p>
            Some media states that the average person gains 3-7 lbs. Another study showed that weight gain was more prevalent among those who were already overweight. Those individuals averaged an increase of 8 lbs. over the holidays. And what's worse? These studies also found that many people NEVER lose the weight that they gain, which then compounds over time.
        </p>

        <p>
            Studies aside, perhaps what is more important is YOU!  What happens to your body over the holidays? Do you find yourself putting on a few extra pounds that you then struggle to let go of in the new year?
        </p>

            <img class="imge_lose_weight" src="{{url_for('static', filename='imagens/holiday1.jpg')}}" alt="">

        <p>
            Would you like to avoid packing on extra weight and STILL get to enjoy all those great holiday parties and gatherings? The good news is that it is possible to enjoy the festivities and yummy treats without gaining weight.
        </p>

        <h2>
            The Challenge with Holiday Weight Gain
        </h2>

        <p>
            In the US, the holiday season is looooong. It essentially begins in October with Halloween (even earlier for some religious groups), where, if you take your kids to the right neighborhood, you fill your home with enough candy to last a decade.
        </p>

        <p>
            Next, we have Thanksgiving.  The average daily calorie intake should be around 1800-2400 calories (depending on your height and weight). The average Thanksgiving meal is estimated to be around 3000 CALORIES. That is just the meal alone.  This doesnt include any appetizers and snacks you have beforehand which average another 1500 calories. In one meal, you double your recommended daily caloric intake. Thanksgiving dinner is generally also packed with a ton of fat and sugar, which doesnt help your body stay slim.
        </p>

        <img class="imge_lose_weight" src="{{url_for('static', filename='imagens/holiday3.jpg')}}" alt="">
        <p>
            Immediately following the Thanksgiving holiday comes a whirl of holiday parties, luncheons, office parties, family gatherings and holiday baking events. The opportunities to over-indulge are plentiful.
        </p>

        <p>
            Then there are the winter holiday meals ~ whether Christmas, Chanukah, Kwanza or another holiday that you celebrate, you likely have at least one holiday feast with loved ones to attend. These feasts also average 3000+ calories per meal.
        </p>

        <p>
            It’s no wonder people gain a few extra pounds with all the delicious food, holiday baked goods, candies and beverages! Unfortunately, many people throw in the towel and assume that there is no way to get through the holidays without overindulging and gaining excess weight. But it is possible.
        </p>

        <p>
            But enough about how much weight you're likely to gain...let's talk about how to keep it off and even lose a few pounds while you're at it.
        </p>

        <h2>
            How to Enjoy Your Holiday Festivities and Still Lose Weight
        </h2>

        <p>
            The good news is that it IS possible to enjoy all those fun holiday events without being cursed to buy larger clothes in the new year.  You just need to plan ahead and be smart about how you enjoy your parties and festivities – and how you take care of your body in between all the events.
        </p>

        <h2>
            1. DON'T Skip Meals on Party Days:
        </h2>

        <p>
            People often think it wise to skip meals before parties and feasts to make up for the large meal that is coming. Unfortunately, this leaves you feeling hungrier and increases the likelihood that you will overeat. Instead, eat healthy, well balanced meals <strong>so that your body feels satisfied.</strong> This helps you eat smaller portions during the meal or party. Green smoothies are a great pre-party meal option as they are high in fiber and nutrients, and leave you feeling full and satisfied.
        </p>
        
        <img class='imge_lose_weight' src="{{url_for('static', filename='imagens/holiday2.jpg')}}" alt="">

        <h2>
            2. Use Portion Control:
        </h2>

        <p>You know that there is going to be a ton of delicious food at the event. It’s also likely to be very rich and not so healthy.  Holiday parties often have a limited selection of healthy choices, but the food that is available is super yummy! You don’t need to deprive yourself from sampling these tasty treats. Go ahead and have some homemade pie or try some of that decadent cheese dip. Enjoy it! Just practice some portion control.  Have a small piece of pie or cake.  Instead of hovering over the h’orderves and randomly grazing throughout the event, make a little plate for yourself with the treats that you want so you are conscious about how much you are consuming. Try a few bites of the foods you enjoy, rather than a full serving of each. Savor them as you eat so you actually enjoy them.  This also helps reduce excess.</p>

        <h2>
            3. Green Smoothie Meal Replacements:
        </h2>

        <p>
            With all the holiday excess, help your body rebalance itself by eating healthier foods between the festivities. Eat several servings of fruits and veggies daily to help your body clear out the overabundance of fats, sugars, processed foods and empty calories you are taking in during the festivities. Green Smoothies are a great way to get your daily servings of fruits and veggies, and help keep you feeling full. Replace at least one meal a day with a green smoothie to counteract the effects of your holiday festivities.
        </p>

        <img class="imge_lose_weight" src="{{url_for('static', filename='imagens/video-thumb.jpg')}}" alt="">


        <h2>
            4. Move Your Body:
        </h2>

        <p>
            Don’t let your exercise routine fall to the wayside over the holidays.  Give your body a chance to work off some of the excess by at least keeping your regular routine. If you have a lot of events and opportunities to over indulge, you might want to add in some extra time to help your body cope.
        </p>

        <h2>
            5. Do A Quick DETOX Between Festivities:
        </h2>

        <p>
            Build in a few detox days in between festivities to help your body clear out the excess. Properly made green smoothies make tasty and easy detox drinks that are great for cleansing the body of excess without leaving you feeling deprived of flavor. During the holiday season, detoxing the day or two after the party goes a long way to helping your body reset.  Once the festivities slow down in the new year, it is a great time to do a longer detox to clear your body and reset your diet to a healthier one. This is my favorite 3-Day Detox programs that's PERFECT for the holidays.
        </p>

        <h1>
            The #1 Easiest Way To Stop Holiday Weight Gain Dead In It's Tracks:
        </h1>

        <p>
            Why wait until New Years to start losing weight? By that time you will have put on even MORE weight and have a much taller mountain to climb. I'm all about easy, and that is especially true when it comes to losing weight and getting healthy.

            <div class="video">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/R0ofRiizalU?si=ZNutjvxn3L-PuImX" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </p>

        <p>Watch the Free Presentation below and Let me show you a super simple way to keep the weight off over the holdays AND even lose weight while you're at it!</p>


        <picture>
            
            <source media="(max-width: 800px)" srcset="{{url_for('static', filename='imagens/video-thumb5-300.jpg')}}">

            <img class="imge_lose_weight" src="{{url_for('static', filename='imagens/video-thumb5.jpg')}}" alt="">
            
        </picture>
            
    
        
    </article>
</main>

{% endblock %}